* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    background-color: #4a503d;
}

#top-menu {
    background-color: #071604; 
    color: rgb(199,179,112); 
    height: 120px;
    width: 100%;
    position: fixed; 
    top: 0; 
    z-index: 1;
    padding: 0 10px;
    border: 7px double rgb(199,179,112);
}

#top-menu nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top-menu form {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

.book-search {
    background-color: #071604;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: 2px solid rgb(199,179,112);
    width: 60%;
}

.book-search input[type="search"] {
    border: none;
    padding: 8px 10px;
    margin-right: 10px;
    border-radius: 5px;
    outline: none;
    flex-grow: 1;
    width: 87%;
}

.book-search input[type="search"]::placeholder {
    color:rgb(199,179,112);
}

.book-search button {
    background-color: #91b87a;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 10%;
}

.book-search button:hover {
    background-color: #7fa16c;
}

.book-search input::placeholder {
    color: #B6C0A5;
    font-style: italic;
}

.book-search input[type="search"]:focus {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color: #E0EFCA;
}


#side-menu {
    background-color: #1a271c; 
    color: rgb(199,179,112); 
    width: 250px; 
    position: fixed; 
    top: 120px;
    bottom: 0; 
    left: 0;
    overflow-y: auto;
    z-index: 1; 
}

.genres {
    margin: 15px 15px;
}

.genres .title {
    font-weight: bold;
}

.sidebar-section {
    margin-left: 15px;
}

.toggler-wrapper {
    display: block;
    width: 30px;
    height: 15px;
    cursor: pointer;
    position: relative;
}
  
.toggler-wrapper input[type="checkbox"] {
    display: none;
}
  
.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
    background-color: #91b87a;
}
  
.toggler-wrapper .toggler-slider {
    background-color: #ccc;
    position: absolute;
    border-radius: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}
  
.toggler-wrapper .toggler-knob {
    position: absolute;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
    left: calc(100% - 8px - 3px);
}
  
.toggler-wrapper.style-1 .toggler-knob {
    width: calc(15px - 6px);
    height: calc(15px - 6px);
    border-radius: 50%;
    left: 3px;
    top: 3px;
    background-color: #fff;
}

#content {
    margin-top: 50px; 
    margin-left: 250px; 
    margin-right: 100px;
    padding: 20px; 
}

#top-menu a, #side-menu a {
    color: rgb(199,179,112); 
    text-decoration: none; 
    padding: 5px 10px; 
    display: inline-block; 
}

#side-menu a {
    display: block; 
    margin-bottom: 15px;
}

/* #top-menu li, #side-menu li {
    list-style-type: none; 
} */

/* 

.account-btn {
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #91b87a; 
    color: black !important; 
    padding: 10px 20px; 
    text-align: center;
    font-size: 12px; 
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
} */

.nav-el {
    display: inline-flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #91b87a; 
    color: black !important; 
    padding: 10px 20px; 
    text-align: center;
    font-size: 12px; 
    border: none; 
    cursor: pointer;
    border-radius: 5px; 
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.nav-el:hover {
    background-color: #7fa16c;
}

.logo {
    display: inline-flex !important;
    flex-direction: column;
    background-color: #1a271c; 
    padding: 10px 20px; 
    text-align: center;
    font-size: 12px; 
    border: 3px solid rgb(199,179,112);
    border-radius: 25px; 
}

.icon {
    vertical-align: middle; 
    width: 25px;
    height: 25px; 
    margin-bottom: 2px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

.modal-content {
    background-color: #fefefe;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 35%; 
    position: relative;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.form-group {
    display: flex;  /* Используем Flexbox */
    flex-direction: column;  /* Устанавливаем направление элементов в столбец */
    margin-bottom: 10px;  /* Добавляем небольшой отступ снизу каждой группы */
}


form {
    /* max-width: 400px; */
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-row {
    display: flex; /* Используем Flexbox для выравнивания элементов в строку */
    justify-content: space-between; /* Равномерно распределяем свободное пространство */
    align-items: flex-end; /* Выравниваем элементы по нижнему краю */
}

.form-group {
    display: flex; /* Также делаем каждую группу лейбл + инпут flex-контейнером */
    flex-direction: column; /* Располагаем элементы столбцом */
    margin-right: 20px; /* Добавляем отступ справа для каждой группы, кроме последней */
}

.form-group:last-child {
    margin-right: 0; /* У последней группы в строке отступ справа не нужен */
}


.logo-container {
    background-color: #ade072;
    
}