#content {
    margin-top: 150px; 
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    padding: 20px; 
    color: rgb(199,179,112); 
}


h1 {
    text-align: center;
}

.cart-items {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #071604;
    border-radius: 5px;
}

.cart-item button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.book-cover img {
    width: 50px;
    height: 75px;
    margin-right: 10px;
}
.book-title, .book-author, .book-price {
    margin: 0;
}
.book-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.book-actions button {
    margin: 0 5px;
}

button {
    border-color: #08470a;
    border-radius: 6px;
    margin: 4px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #f1f8e9;
    color: rgb(0, 0, 0);
}
  
button:hover {
    background-color: #91b87a;
}

.blurred {
    filter: blur(10px);
  }

  
.user-modal,
.messageModal {
    margin: auto;
}