body {
    margin: 0;
    padding: 0;
    display: flex;
    color: #08470a;
}

#side-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4fcf5; 
    border:#122713;
    color: #fff; 
    width: 200px; 
    height: 100vh;
    position: fixed; 
    top: 0;
    bottom: 0; 
    left: 0;
    overflow-y: auto;
    z-index: 1; 
}

#side-menu nav {
    padding: 20px; 
    
}

#content {
    margin-top: 200px; 
    margin-left: 500px; 
    margin-right: 100px;
    padding: 20px; 
    justify-content: space-between;
}

.review {
    padding-left: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: rgb(231, 228, 219);
}
  
button, a {
    border-color: #08470a;
    border-radius: 6px;
    margin: 4px;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #f1f8e9;
    color: rgb(0, 0, 0);
}
  
button:hover, a:hover {
    background-color: #66bb6a;
}
  
#loadMoreBooks {
    display: block;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
  
#loadMoreBooks:hover {
    background-color: #66bb6a;
}
  
.add-manager-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px 20px;
    margin-left: auto; 
    gap: 5px; 
}

.nav-btn {
    border: none;
    margin: 10px 0;
}