#content {
    margin-top: 150px; 
    margin-left: 25px !important; 
    margin-right: 100px;
    padding: 20px; 
    color: rgb(199,179,112); 
}

.book-cover img {
    width: 40px;
    margin-right: 15px;
}


.order-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
}

.order-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.order-number {
    color: #333;
}

.order-status {
    background-color: #91b87a;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.order-details {
    color: #666;
}

.pickup-point-title {
    font-weight: bold;
}

.pickup-point-address {
    margin: 5px 0;
}

.pickup-point-hours {
    font-style: italic;
    margin-bottom: 20px;
}

.order-item {
    margin-top: 10px;
    display: flex;
}

.book-price {
    margin-left: auto;
    font-weight: bold;
}

